footer {
  background-color: darkgrey;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

#food-recipe {
  position: relative;
  text-align: center;
  color: white;
}

#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 1px 1px 1px black;
}

.footer-column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

a:hover {
  color: orange;
}

/* navigation bar */
.nav {
  background-size: cover;
  background-color: darkgrey;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}

.nav > li {
  
  display: inline-block;
  padding: 0 25px 0 25px;
  font-size: 12px;
}

.nav > li > a:hover {
  color: orange;
}

.logo {
  margin-top: -22px;
}

.banner {
  width: 100%;
  display: block;
  text-align: center;
}

/* Request Page */

.request-title > h1 {
  text-align: center;
}