
h1 {
  color: #0000ff;
}

h1, h3, p, h4 {
  text-align: center;
}

p {
  max-width: 50%;
  margin: 0 auto;
}

h2 {
  color: #ff0000;
}


label {
  float: left;
}

input {
  float: right;
}

.rows {
  display: block;
  width: 70%;
  
}

.column {
  display: inline-block;
  width: 49%;
}

.formContainer {
  margin: auto;
  width: 40%;
}

.register-button {
  margin-top: 10px;
  text-align: center;
}