
h1 {
  color: #0000ff;
}

h1, h3 {
  text-align: center;
}


/* p {
  max-width: 50%;
  margin: 0 auto;
} */

h2 {
  color: #ff0000;
}


label {
  float: left;
}

/* input {
  float: right;
} */

.rows {
  display: block;
  width: 70%;
  
}

.column {
  display: inline-block;
  width: 49%;
}

.formContainer {
  margin: auto;
  width: 40%;
}

.register-button {
  margin-top: 10px;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}

footer {
  background-color: darkgrey;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

#food-recipe {
  position: relative;
  text-align: center;
  color: white;
}

#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-shadow: 1px 1px 1px black;
}

.footer-column {
  float: left;
  width: 33.33%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

